html {
	font-family: sofia-pro;
}

#svg-container {
	display: none;
}

svg#battery {
	 stroke: '#fff';
	 stroke-width; 5.5;
}

#calc-container {
	display: flex;
	flex-flow: column;
	justify-content: center;
	height: 95vh;
}

div.inputs {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%
}

div.inputs select {
	padding: 10px 20px;
	margin: 20px;
	font-size: 18px;
	font-weight: 600;
	font-family: sofia-pro;
}

div.charts {
	text-align: center;
}

svg .arcbg {
  fill: #EEE7E3;
}

svg .arc {
  fill: #5E7F65;
}

svg text.calcnum {
	font-weight: 600;
}
/*svg .dolsave {
/*  font-size: 22px;
/*}
/*
/*svg .persave {
/*  font-size: 42px;
/*}*/



.y_axis .tick text{
	padding: 10px 20px;
	margin: 20px;
	font-size: 24px;
	font-weight: 600;
}
