html {
	font-family: sofia-pro;
}

.inputs select {
	padding: 10px 20px;
	margin: 20px;
	font-size: 18px;
	font-weight: 600;
	font-family: sofia-pro;
}

svg .arcbg {
  fill: #EEE7E3;
}

svg .arc {
  fill: #5E7F65;
}

/*svg .dolsave {
/*  font-size: 22px;
/*}
/*
/*svg .persave {
/*  font-size: 42px;
/*}
